header {
  background-color: #FF4132;
  height: 60px;
  margin: 0;
  background-position: top center;
  border: #000 2px solid; }
  header .top_phone {
    text-align: right;
    margin-top: 20px;
    font-size: 16px; }
    header .top_phone a {
      color: #000; }
  header .icon {
    background-image: url(../img/1.png);
    background-position: center left;
    background-repeat: no-repeat; }
  header h1 {
    margin: 0;
    text-align: center;
    padding: 8px; }

.top_phone .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px; }

.top_phone .wrapper .active {
  text-decoration: underline; }

.s_car li {
  list-style-type: none;
  margin-top: 15px; }

.s_car li .hid1 {
  margin-left: 15px; }

ul {
  margin: 0;
  padding: 0; }
  ul a {
    color: #000;
    margin-left: 5px; }

.hidden {
  display: none; }

.click {
  cursor: pointer; }

ul li ul {
  display: none; }

.icon_arr {
  background-image: url(../img/2.png);
  height: 16px;
  width: 16px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0px 6px; }

li .icon_arr {
  float: left; }

.cont {
  border-left: 2px #000 solid;
  height: 81vh;
  overflow: auto; }

.top_line_2 {
  text-align: center; }
  .top_line_2 p {
    margin-top: 22px; }
  .top_line_2 select, .top_line_2 h2, .top_line_2 p {
    float: left; }
  .top_line_2 h2 {
    margin-left: 20px; }
  .top_line_2 h2.rg {
    margin-left: 45px; }

select {
  height: 25px;
  width: 60px;
  font-size: 16px;
  margin: 20px 20px; }

.reg {
  height: 30px;
  width: 140px;
  font-size: 16px;
  margin: 17px 30px; }

.button {
  border: 2px #000 solid;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 90px;
  margin-top: 17px;
  background-color: #F5F5F5;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #000;
  float: right;
  padding-top: 2px; }

.btn_red {
  line-height: 24px; }

.wrap_car {
  display: inline-block;
  padding: 5px; }
  .wrap_car .img {
    width: 250px;
    height: 200px;
    overflow: auto; }

.y_in p {
  font-size: 20px;
  margin: 0; }
  .y_in p span {
    color: blue;
    margin-left: 30px; }

.button_wrap_2 {
  float: left;
  text-transform: uppercase;
  text-align: center;
  border: 2px #000 solid;
  margin: 15px 0;
  border-radius: 6px; }
  .button_wrap_2 a {
    margin: 0;
    text-align: center;
    width: 45px; }
  .button_wrap_2 .f, .button_wrap_2 .t {
    border: 0; }
  .button_wrap_2 .s {
    border-top: 0;
    border-bottom: 0; }

.price {
  display: inline-block;
  float: right;
  margin: 5px 0;
  line-height: 50px;
  width: 160px;
  background-image: url(../img/3.png);
  background-repeat: no-repeat; }
  .price strong {
    font-size: 20px;
    color: red;
    margin-left: 90px; }

.wrp {
  font-size: 16px;
  display: inline-block;
  width: 100%; }

footer {
  padding: 15px;
  background-color: #FF4132;
  height: 65px;
  margin: 0;
  background-position: top center;
  border: #000 2px solid; }
  footer h2 {
    margin: 0; }

#hidden_form,
#hidden_form_1 {
  max-width: 270px;
  margin: auto;
  position: relative;
  background-color: #F7F7F7;
  padding: 25px 30px;
  border: 5px #F4F4F4 solid;
  border-radius: 5px; }
  #hidden_form .button_wrap,
  #hidden_form_1 .button_wrap {
    text-align: center;
    margin: 0 0 10px; }
  #hidden_form h2,
  #hidden_form_1 h2 {
    text-transform: uppercase;
    margin: 0 0 25px;
    font-size: 22px;
    color: #FF4132;
    line-height: 22px;
    text-align: center; }
  #hidden_form input,
  #hidden_form_1 input {
    display: block;
    line-height: 45;
    height: 45px;
    border: #d9d9d9 1px solid;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin: 15px 0  15px 0; }

.btn {
  border: 1px #000 solid;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  padding: 0 32px;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border-radius: 3px;
  font-size: 16px;
  width: 100%; }

.wrapp {
  height: 81vh; }

.r_c h2 {
  color: blue; }

.r_c span {
  color: red;
  position: absolute;
  right: 0; }

.pho h2 {
  color: #000;
  text-align: center; }

.im_s img {
  display: inline-block;
  height: 135px;
  width: 135px;
  margin: 5px;
  cursor: pointer; }

.im_s .active {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  min-height: 296px; }

.wrapper .tabs .d_1 {
  position: absolute;
  right: 100px;
  top: 5px;
  background-color: #fff;
  line-height: 22px;
  font-size: 14px; }

.wrapper .tabs .d_2 {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #fff;
  line-height: 22px;
  font-size: 14px; }

.act {
  border: 10px #000 solid; }
